*{
    margin: 0;
}

header{
    width: 100vw;
    height: 50px;
    background:rgb(29, 2, 100);
    text-align: right;
}
header i{
    font: 16px arial;
    color: white;
    line-height: 50px;
    margin-right: 18px;
    cursor: pointer;
}
main{
    width: 100vw;
    height: calc(100vh - 50px);
    background: linear-gradient(to right,  rgba(70, 69, 212, 0.9) 0%, rgba(0, 0, 255, 0.7) 51%, rgba(13, 11, 148, 1) 100%);      
    min-height: 500px;
}
#left{
    width: 50vw;
    text-align: center;
    float: left;
}
#left h1{
    padding:20px 0 20px 0;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#left p{
    padding: 10px;
    text-align: justify;
    font-family: Helvetica, sans-serif;
}
#right{
    width: 45vw;
    float: right;
    text-align: center;
}
#right div{
    width: 25vh;
}
#right img{
    height: 170px;
    border-radius: 20px;
}
#cart1{
    top: calc(50px + 10vh);
    left: 55vw;
    position: absolute;
}
#cart2{
    top: calc(50px + 25vh);
    left:67vw;
    position: absolute;
}
#cart1:hover{
    content: url('./../img/carta2.png');
}
#cart2:hover{
    content: url('./../img/carta1.png');
}
main#learning{
    min-width: 300px;
    height: 100%;
    position: absolute;
}
#information{
    width: 100vw;
    max-width: 400px;
    min-width: 300px;
    height: 100vh;
    margin: auto;
    text-align: justify;
    /* background-color: blue; */
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center
}
#information p{
    font: 20px cursive;
    padding: 10px;
    line-height: auto;
}
#information button{
    border: 1px #000000 solid;
    border-radius: 5px;
    padding: 8px;
    font: 23px Helvetica, sans-serif;
}
#returns{
    color: black;
    background-color: white;
}
#returns:hover{
    background-color: #d0d0d0;
}
button#play{
    color: white;
    background-color: #100e98;
    right: 0px;
    margin: 0 0 0 10px;
}
button#play:hover{
    background-color: #4c4cff;
}
#game-box{
    border-radius: 2px;
    border: 1px #cacacc solid;
    margin: 10vh 15vw 3vh 15vw;
    overflow: hidden;
}
.game-card{
    cursor: pointer;
    color: black;
    height: 85px;
    width: 20%;  
    margin: 1px;  
    float: left;
    line-height: 70px;
    text-align: center;
    border: 1px #6e676eaa solid;
}
.game-card-hidden{
    color: #ffffff;
    font-size: 0px;
    height: 85px;
    width: 24.53%; 
    margin: 1px;  
    float: left;
    line-height: 70px;
    text-align: center;
    border: 1px #6e676eaa solid;
    background: #2741d630;
    box-shadow: 0px 0px 20px 20px #667cfa6b inset;
    cursor: pointer;
}

#buttons{
    text-align: center;
}
#buttons #play{
    border: 1px #000000 solid;
    border-radius: 5px;
    padding: 8px;
    font: 23px Helvetica, sans-serif;
}

.input-hidden
{
    width: 100%;
    visibility: hidden;
}
@media (max-width:1213px)
{
    .game-card, .game-card-hidden{
        width: 24.5%;
    }
}
@media (max-width:1142px)
{
    .game-card, .game-card-hidden{
        width: 24.44%;
    }
}
@media (max-width:1019px)
{
    .game-card, .game-card-hidden{
        width: 24.4%;
    }
}
@media (max-width:952px)
{
    .game-card, .game-card-hidden{
        width: 24.3%;
    }
}
@media (max-width:817px)
{
    .game-card, .game-card-hidden{
        width: 24.2%;
    }
}
@media (max-width:714px)
{
    .game-card, .game-card-hidden{
        width: 24.1%;
    }
}
@media (max-width:636px)
{
    .game-card, .game-card-hidden{
        width: 24%;
    }
}
@media (max-width:572px)
{
    .game-card, .game-card-hidden{
        width: 32.3%;
    }
}
@media (max-width:554px)
{
    .game-card, .game-card-hidden{
        width: 32.2%;
    }
} 
@media (max-width:505px)
{
    .game-card, .game-card-hidden{
        width: 32.1%;
    }
}
@media (max-width:464px)
{
    .game-card, .game-card-hidden{
        width: 32%;
    }
} 
@media (max-width:430px)
{
    .game-card, .game-card-hidden{
        width: 31.9%;
    }
} 
@media (max-width:400px)
{
    .game-card, .game-card-hidden{
        width: 31.8%;
    }
}
@media (max-width:374px)
{
    .game-card, .game-card-hidden{
        width: 31.7%;
    }
}

@media (max-width:359px){
 #left, #right{
        width: 100vw;
    }
   #cart1{       
       top: auto; 
       left: 15vw; 
    }
   #cart2{
        top:auto; 
        left: 35vw;
     }
     main#learning{
         height: 100vh;
     }
     .game-card, .game-card-hidden{
        width: 31.6%;
    }
}
@media (max-width:331px)
{
    .game-card, .game-card-hidden{
        width: 31.4%;
    }
}
@media (max-width:297px)
{
    .game-card, .game-card-hidden{
        width: 31.1%;
    }
}
@media (max-width:259px)
{
    .game-card, .game-card-hidden{
        width: 30.8%;
    }
}
@media (max-width:228px)
{
    .game-card, .game-card-hidden{
        width: 30%;
    }
}
@media (max-width:173px)
{
    .game-card, .game-card-hidden{
        width: 99%;
    }
}