<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shorcut icon" type="image/x-icon" href="./../img/icon.png">
    <link rel="stylesheet" href="./../css/style.css">
    <script src="./../js/effects.js"></script>
    <title>Jugar</title>
</head>
<body>
    <div id="timer">1:00</div>
    <div id="game-box">
        <div class="game-card-hidden"> 
        </div>
        <div class="game-card-hidden"> 
        </div>
        <div class="game-card-hidden"> 
        </div>
        <div class="game-card-hidden"> 
        </div>
        <div class="game-card-hidden"> 
        </div>
        <div class="game-card-hidden"> 
        </div>
        <div class="game-card-hidden"> 
        </div>
        <div class="game-card-hidden"> 
        </div>
        <div class="game-card-hidden"> 
        </div>
        <div class="game-card-hidden"> 
        </div>
        <div class="game-card-hidden"> 
        </div>
        <div class="game-card-hidden">           
        </div>        
 </div>
 <div id="buttons">
    <button id="play">Jugar</button> 
    <div id="buttons2" class="invisible">
        <button id="stop">Detener</button>
        <button id="restore">Reestablecer</button>
    </div>
 </div>
 <div id="loser" class="invisible loser">¡¡PERDISTE!! </div>
</body>
</html>